parameters:
    api:
        handlers:
            errorHandler: errorHandlerService
            notFoundHandler: notFoundErrorHandlerService
            notAllowedHandler: notAllowedErrorHandlerService
        routes:
            '/game/save':
                get:
                    service: actionService
                    middleware:
                        - dummyMiddleware
