parameters:
    api:
        handlers:
            errorHandler: MyApp\Handlers\ErrorHandler(%slimConfiguration.settings.displayErrorDetails%)
            notFoundHandler: MyApp\Handlers\NotFoundHandler
            notAllowedHandler: MyApp\Handlers\NotAllowedHandler
        routes:
            '/user/create':
                post:
                    service: MyApp\Action\User\Create\CreateAction
            '/game/save':
                post:
                    service: MyApp\Action\Game\Save\SaveAction
                    middleware:
                        - MyApp\Middleware\DummyMiddleware
            '/game-result/{id}':
                get:
                    service: MyApp\Action\Game\Result\ResultAction
