parameters:
    logFile: %baseDir%/logs/log.txt
    slimConfiguration:
        settings:
            httpVersion: '1.1'
            addContentLengthHeader: false
            displayErrorDetails: true
            outputBuffering: 'append'
            defaultContentType: 'application/json'
    redis:
        connectionString: 'tcp://127.0.0.1:6379'

services:
    application: MyApp\Application
    - MyApp\Slim\ApplicationFactory

    - MyApp\Api\User\Create\UserValidatorMiddleware
    - MyApp\Api\User\Create\CreateAction
    - MyApp\Api\User\Create\CreateValidationRuleProvider

    - MyApp\Action\Game\Save\SaveAction
    - MyApp\Action\Game\Result\ResultAction
    - MyApp\Handlers\ErrorHandler(%slimConfiguration.settings.displayErrorDetails%, %slimConfiguration.settings.defaultContentType%)
    - MyApp\Handlers\NotFoundHandler
    - MyApp\Handlers\NotAllowedHandler
    - Predis\Client(%redis.connectionString%)
    - MyApp\Redis\Repository
    - MyApp\Validation\Validator
